#letter{
  background-color: rgb(251, 218, 255);
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}
.my-special-key {
  background-color: rgb(161, 161, 161) !important; /* Highlight vowels */
}
.correct-key {
  background-color: rgb(0, 202, 121) !important; /* Highlight vowels */
}
.partial-correct-key {
  background-color: rgb(226, 198, 94) !important; /* Highlight vowels */
}
#submit-btn{
  background-color: rgb(251, 218, 255);
  color: black;
  border: none;
}